<div style="width: 20%;margin:10% auto;">
    <div class="show-area">
      <input class="input" placeholder="username" type="text" [(ngModel)]="user.username" required>
      <input class="input" placeholder="password" type="password" [(ngModel)]="user.password" required>

      <div class="input" style="text-align: left;color: red;font-size: 10px;line-height: 20px"
           *ngIf="warn">{{warn}}</div>
      <button class="input" style="background-color: #1976d2;width: 15%;float: right;font-size: 18px;margin-right: 5px"
              (click)="login()"> Login
      </button>
    </div>

</div>
