<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  .show-area {
    text-align: left;
    border-radius: 5px;
    background-color: #EEE;
    padding: 0 10px;
    width: 50%;
    line-height: 40px;
    font-weight: 400;
    font-size: 20px
  }

  .serial-number {
    background-color: #1976d2;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px
  }

  .input {
    width: 95%;
    font-size: 30px;
    line-height: 30px;
    margin: 10px 0;
    border-radius: 5px;
    padding: 8px;
    border: none
  }

  button:hover {
    opacity: 80%;
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Welcome</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">

  <!--  商品列表区域-->
  <div class="show-area">
    <div style="border-bottom: 2px dashed #bbb">
      Total：{{productList ? productList.length : 0}}
    </div>

    <div *ngIf="productList">
      <div *ngFor="let product of productList index as index">
        <div [ngStyle]="{borderTop:index==0?'none':'1px solid #BBB'}">
          <div class="serial-number">{{index + 1}}</div>
          <div style="display: inline-block;margin-left: 20px">{{product.name}}</div>
          <div style="display: inline-block;float: right">{{product.price}}￥</div>
        </div>
      </div>
    </div>
  </div>

  <!--  商品添加区域-->
  <div class="show-area" style="margin-top: 50px;text-align: center">
    <input class="input" placeholder="product name" type="text" [(ngModel)]="product.name">
    <input class="input" placeholder="product price" type="number" [(ngModel)]="product.price">

    <div class="input" style="text-align: left;color: red;font-size: 10px;line-height: 20px" *ngIf="warn">{{warn}}</div>
    <button class="input" style="background-color: #1976d2;width: 15%;float: right;font-size: 18px;margin-right: 5px"
            (click)="addProduct()"> Add
    </button>
  </div>
</div>


